@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Forget Password";
}
@*<div id="preloader">
    <div class="loader"></div>
</div>*@
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area login-bg">
    <div class="container">
        <div class="login-box ptb--100">
            <form id="MyForm">
                <div class="login-form-head">
                    <h4 style="font-family:'Nunito';">Risk Analysis and Assessment</h4>
                    <hr />
                    <h5 style="font-family:'Nunito';"  class="text-white">Forget Password</h5>
                </div>
                <div class="login-form-body">
                    <div class="d-flex justify-content-center" >
                        <div class="spinner-border text-info" style="width: 3rem; height: 3rem;display:none" role="status" id="loading">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div id="input">
                        <div class="form-gp">
                            <label for="Email">Email</label>
                            <input type="email" id="exampleInputEmail1" name="Email">
                            <i class="ti-email"></i>
                        </div>
                        <div class="submit-btn-area mt-5">
                            <button id="form_submit" type="submit">Reset <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                    
                    <hr />
                    <p>Remember your account? <a class="ui button" asp-action="@AuthenticationController.ActionLogin" asp-controller="@AuthenticationController.Name">Back to login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#MyForm').submit(function (evt) {
            evt.preventDefault();
            let email = $('[name=Email]').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action(AuthenticationController.ActionForgetPassword, AuthenticationController.Name)',
                data: {
                    email: email,
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#input').hide();
                    $('#loading').show();
                },
                success: function (res) {               
                },
                error: function (error) {
                    console.error(error)
                },
                complete: function (res) {
                    console.log(res.responseJSON)
                    if (res.responseJSON.code == 400) {
                        $('#input').show();
                        $('#loading').hide();
                        Swal.fire({
                            icon: 'error',
                            title: 'Not found',
                            width: 600,                          
                            text: res.responseJSON.message,
                        })
                    }else{
                        Swal.fire({
                            icon: 'success',
                            text: 'Reset password link has been send to email ' + email,
                            showDenyButton: true,
                            showCancelButton: false,
                            confirmButtonText: 'Back to Log In',
                            denyButtonText: `Stay on this page`,
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {                                
                                window.location.href= '@Url.Action(AuthenticationController.ActionLogin,AuthenticationController.Name)'
                            } else if (result.isDenied) {
                                $('#input').show();
                                $('#loading').hide();
                            }
                        })
                    }

                }
            });
        });
    </script>
}
